<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.BldPrsr"
      android:versionName="4.3" android:versionCode="15">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <application android:icon="@drawable/bloodpressure" 
        android:label="@string/app_name" 
        android:allowBackup="true" 
        android:killAfterRestore="false" 
        android:backupAgent=".MyBackupAgent"
        android:name=".BldPrsr"> 
   		<meta-data android:name="com.google.android.backup.api_key"
    		android:value="AEdPqrEAAAAIJ88pyQvb_deS1rWLOor4qfbfI-Z-SzaJt_WbNw" />
        <activity android:label="@string/appname" android:name="com.BldPrsr.BldPrsrMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	    <activity android:label="@string/appname" android:name="com.BldPrsr.AboutHandler">
			<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
	    </activity>
	   	<activity android:label="@string/appname" android:name="com.BldPrsr.BldPrsrList">
	   		<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            </activity>
<!-- 
	   	<activity android:label="@string/appname" android:name="com.BldPrsr.BldPrsrMain">
	   		<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
	    </activity>
 -->
	    <activity android:label="@string/setupName" android:name="com.BldPrsr.BldPrsrSetupWin">
	    	<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
		</activity>
	    <activity android:label="@string/setupName" android:name="com.BldPrsr.BldPrsrHandleDetailEntry">
	    	<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
		</activity>
		<activity android:label="@string/setupName" android:name="com.BldPrsr.ImportActivity">
			<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>		
		<activity android:name="org.achartengine.GraphicalActivity"/>
		<activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation"/>
			
			<!-- The application's publisher ID assigned by AdMob -->
			<meta-data android:value="a14d18e1cd0e067" android:name="ADMOB_PUBLISHER_ID" />
	        
			<!-- Track Market installs -->          
		<meta-data android:value="true" android:name="ADMOB_ALLOW_LOCATION_FOR_ADS" />    
    </application>
    
    <!-- AdMob SDK requires Internet permission -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-sdk android:minSdkVersion="11" android:targetSdkVersion="16">
	</uses-sdk>
</manifest>